<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">  <!-- static file -->
</head>
<body>
  <h1>Titlelator</h1>
  <h3>.. a very angsty program ..</h3>

  <form action="/titlelate">
    <label name="name"></label>
    <input type="text" name="keyword" placeholder="Type your name">
    <button>Titlelate</button>
  </form>

    <form action="/details">
    <label name="name"></label>
    <input type="text" name="movie" placeholder="Type a movie">
    <button>Find movie</button>
  </form>

</body>
</html>